### <span style=color:blue> DISCUSSION 7 - Working with mongodb (local)    </span>

In [1]:
import sys
import json
import csv
import yaml

import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import os
from dotenv import load_dotenv

import pprint

import psycopg2
from sqlalchemy import create_engine, text as sql_text

##### <span style=color:blue>Basic queries in mongoDB</span>

In [2]:
# Setup the mongoclient and connect to local instance of mongodb
from pymongo import MongoClient

client = MongoClient("mongodb://localhost:27017/")

In [3]:
# Call a db company or create one if it does not exists
db = client["company"]

In [13]:
# Insert a document - SP1
db.employees.insert_one({"name": "Eli","age": 20, "department": "HR"})

InsertOneResult(ObjectId('664f8d024047e7650255b2bc'), acknowledged=True)

In [6]:
# Find a document - SP2
employee = db.employees.find_one({"name": "Alice"})

print(employee)

{'_id': ObjectId('664f8ac04047e7650255b2b9'), 'name': 'Alice', 'age': 28, 'department': 'HR'}

In [8]:
# Update a document - SP3

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [9]:
# Delete a document - SP4

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [15]:
# Find all employees in the HR department - SP4


# Count the number of employees in the company - SP5

{'_id': ObjectId('664f8ce64047e7650255b2bb'), 'name': 'Sam', 'age': 35, 'department': 'R&D'}

##### <span style=color:blue>Working with pre-existing data</span>

In [16]:
# Load CSV files into DataFrames
department_df = pd.read_csv("data/department.csv")
dependent_df = pd.read_csv("data/dependent.csv")
dept_locations_df = pd.read_csv("data/dept_locations.csv")
employee_df = pd.read_csv("data/employee.csv")
project_df = pd.read_csv("data/project.csv")
works_on_df = pd.read_csv("data/works_on.csv")

print(department_df)
print(dependent_df)
print(dept_locations_df)
print(employee_df)
print(project_df)
print(works_on_df)

            dname  dnumber    mgr_ssn mgr_start_date
0        Research        5  333445555        5/22/88
1  Administration        4  987654321         1/1/95
2    Headquarters        1  888665555        6/19/81
        essn dependent_name gender     bdate relationship
0  333445555          Alice      F    4/5/86     Daughter
1  333445555       Theodore      M  10/25/83          Son
2  333445555            Joy      F    5/3/58       Spouse
3  987654321          Abner      M   2/28/42       Spouse
4  123456789        Michael      M    1/4/88          Son
5  123456789          Alice      F  12/30/88     Daughter
6  123456789      Elizabeth      F    5/5/67       Spouse
   dnumber  dlocation
0        1    Houston
1        4   Stafford
2        5   Bellaire
3        5  Sugarland
4        5    Houston
      fname minit    lname        ssn     bdate                 address  \
0      John     B    Smith  123456789    1/9/65  731-Fondren-Houston-TX
1  Franklin     T     Wong  333445555   12/8/55     638-Voss-Houston-TX
2    Alicia     J   Zelaya  999887777   1/19/68   3321-Castle-Spring-TX
3  Jennifer     S  Wallace  987654321   6/20/41   291-Berry-Bellaire-TX
4    Ramesh     K  Narayan  666884444   9/15/62  975-Fire-Oak-Humble-TX
5     Joyce     A  English  453453453   7/31/72    5631-Rice-Houston-TX
6     Ahmad     V   Jabbar  987987987   3/29/69   980-Dallas-Houston-TX
7     James     E     Borg  888665555  11/10/37    450-Stone-Houston-TX

  gender  salary    super_ssn  dno
0      M   30000  333445555.0    5
1      M   40000  888665555.0    5
2      F   25000  987654321.0    4
3      F   43000  888665555.0    4
4      M   38000  333445555.0    5
5      F   25000  333445555.0    5
6      M   25000  987654321.0    4
7      M   55000          NaN    1
             pname  pnumber  plocation  dnum
0         ProductX        1   Bellaire     5
1         ProductY        2  Sugarland     5
2         ProductZ        3    Houston     5
3  Computerization       10   Stafford     4
4   Reorganization       20    Houston     1
5      Newbenefits       30   Stafford     4
         essn  pno  hours
0   123456789    1   32.5
1   123456789    2    7.5
2   666884444    3   40.0
3   453453453    1   20.0
4   453453453    2   20.0
5   333445555    2   10.0
6   333445555    3   10.0
7   333445555   10   10.0
8   333445555   20   10.0
9   999887777   30   30.0
10  999887777   10   10.0
11  987987987   10   35.0
12  987987987   30    5.0
13  987654321   30   20.0
14  987654321   20   15.0
15  888665555   20    NaN

In [17]:
# Insert data into MongoDB and check in MongoDB Compass
db.departments.insert_many(department_df.to_dict('records'))

db.dependents.insert_many(dependent_df.to_dict('records'))
db.dept_locations.insert_many(dept_locations_df.to_dict('records'))
db.employees.insert_many(employee_df.to_dict('records'))
db.projects.insert_many(project_df.to_dict('records'))
db.works_on.insert_many(works_on_df.to_dict('records'))

InsertManyResult([ObjectId('664f8e0d4047e7650255b2da'), ObjectId('664f8e0d4047e7650255b2db'), ObjectId('664f8e0d4047e7650255b2dc'), ObjectId('664f8e0d4047e7650255b2dd'), ObjectId('664f8e0d4047e7650255b2de'), ObjectId('664f8e0d4047e7650255b2df'), ObjectId('664f8e0d4047e7650255b2e0'), ObjectId('664f8e0d4047e7650255b2e1'), ObjectId('664f8e0d4047e7650255b2e2'), ObjectId('664f8e0d4047e7650255b2e3'), ObjectId('664f8e0d4047e7650255b2e4'), ObjectId('664f8e0d4047e7650255b2e5'), ObjectId('664f8e0d4047e7650255b2e6'), ObjectId('664f8e0d4047e7650255b2e7'), ObjectId('664f8e0d4047e7650255b2e8'), ObjectId('664f8e0d4047e7650255b2e9')], acknowledged=True)

In [18]:
# Intializing pprint 

pp = pprint.PrettyPrinter(indent=4)

In [ ]:
# Print all employees in company - SP6

print("Employees in the Database:")

employees = db.employees.find()
for emp in employees:
    pp.pprint(emp)

In [20]:
# Find all employees in the "1" department - SP7

employees_in_sales = db.employees.find({"dno": 5})

for emp in employees_in_sales:
    pp.pprint(emp)

{   '_id': ObjectId('664f8e0d4047e7650255b2cc'),
    'address': '731-Fondren-Houston-TX',
    'bdate': '1/9/65',
    'dno': 5,
    'fname': 'John',
    'gender': 'M',
    'lname': 'Smith',
    'minit': 'B',
    'salary': 30000,
    'ssn': 123456789,
    'super_ssn': 333445555.0}
{   '_id': ObjectId('664f8e0d4047e7650255b2cd'),
    'address': '638-Voss-Houston-TX',
    'bdate': '12/8/55',
    'dno': 5,
    'fname': 'Franklin',
    'gender': 'M',
    'lname': 'Wong',
    'minit': 'T',
    'salary': 40000,
    'ssn': 333445555,
    'super_ssn': 888665555.0}
{   '_id': ObjectId('664f8e0d4047e7650255b2d0'),
    'address': '975-Fire-Oak-Humble-TX',
    'bdate': '9/15/62',
    'dno': 5,
    'fname': 'Ramesh',
    'gender': 'M',
    'lname': 'Narayan',
    'minit': 'K',
    'salary': 38000,
    'ssn': 666884444,
    'super_ssn': 333445555.0}
{   '_id': ObjectId('664f8e0d4047e7650255b2d1'),
    'address': '5631-Rice-Houston-TX',
    'bdate': '7/31/72',
    'dno': 5,
    'fname': 'Joyce',
    'gender': 'F',
    'lname': 'English',
    'minit': 'A',
    'salary': 25000,
    'ssn': 453453453,
    'super_ssn': 333445555.0}

In [21]:
# Combined query using aggregation pipeline to find the employees
# in the research department

research_department_employees = db.employees.aggregate([
    { 
        # Performs a join between employees and departments on the dno field
        "$lookup": {
            "from": "departments",
            "localField": "dno",
            "foreignField": "dnumber",
            "as": "department_info"
        }
    },
    # Deconstructs the array field to output a document for each element
    {"$unwind": "$department_info"},
    
    # Filtering operation to include only dname=="Research"
    {"$match": {"department_info.dname": "Research"}}
])


# Print the results
for emp in research_department_employees:
    pp.pprint(emp)
    
# The above query will look like follows in SQL 
# SELECT e.*
# FROM employees e
# JOIN departments d ON e.dno = d.dno
# WHERE d.dname = 'Administration';

{   '_id': ObjectId('664f8e0d4047e7650255b2cc'),
    'address': '731-Fondren-Houston-TX',
    'bdate': '1/9/65',
    'department_info': {   '_id': ObjectId('664f8e0d4047e7650255b2bd'),
                           'dname': 'Research',
                           'dnumber': 5,
                           'mgr_ssn': 333445555,
                           'mgr_start_date': '5/22/88'},
    'dno': 5,
    'fname': 'John',
    'gender': 'M',
    'lname': 'Smith',
    'minit': 'B',
    'salary': 30000,
    'ssn': 123456789,
    'super_ssn': 333445555.0}
{   '_id': ObjectId('664f8e0d4047e7650255b2cd'),
    'address': '638-Voss-Houston-TX',
    'bdate': '12/8/55',
    'department_info': {   '_id': ObjectId('664f8e0d4047e7650255b2bd'),
                           'dname': 'Research',
                           'dnumber': 5,
                           'mgr_ssn': 333445555,
                           'mgr_start_date': '5/22/88'},
    'dno': 5,
    'fname': 'Franklin',
    'gender': 'M',
    'lname': 'Wong',
    'minit': 'T',
    'salary': 40000,
    'ssn': 333445555,
    'super_ssn': 888665555.0}
{   '_id': ObjectId('664f8e0d4047e7650255b2d0'),
    'address': '975-Fire-Oak-Humble-TX',
    'bdate': '9/15/62',
    'department_info': {   '_id': ObjectId('664f8e0d4047e7650255b2bd'),
                           'dname': 'Research',
                           'dnumber': 5,
                           'mgr_ssn': 333445555,
                           'mgr_start_date': '5/22/88'},
    'dno': 5,
    'fname': 'Ramesh',
    'gender': 'M',
    'lname': 'Narayan',
    'minit': 'K',
    'salary': 38000,
    'ssn': 666884444,
    'super_ssn': 333445555.0}
{   '_id': ObjectId('664f8e0d4047e7650255b2d1'),
    'address': '5631-Rice-Houston-TX',
    'bdate': '7/31/72',
    'department_info': {   '_id': ObjectId('664f8e0d4047e7650255b2bd'),
                           'dname': 'Research',
                           'dnumber': 5,
                           'mgr_ssn': 333445555,
                           'mgr_start_date': '5/22/88'},
    'dno': 5,
    'fname': 'Joyce',
    'gender': 'F',
    'lname': 'English',
    'minit': 'A',
    'salary': 25000,
    'ssn': 453453453,
    'super_ssn': 333445555.0}

In [ ]:
# Query to find projects managed by the "Research" department - SP8

research_department_projects = db.projects.aggregate([
    {
        # Performs a join between employees and departments on the dno file 
        "$lookup": {
            "from": "departments",
            "localField": "dnum",
            "foreignField": "dnumber",
            "as": "department_info"
        }
    },
    # Deconstructs the array field to output a document for each element
    {"$unwind": "$department_info"},
    
    # Filtering operation to include only dname==Research
    {"$match": {"department_info.dname": "Research"}}
])

print("Projects Managed by Research Department:")

for proj in research_department_projects:
    pp.pprint(proj)

##### <span style=color:blue>Aggregation Queries</span>

In [ ]:
# Calculate the average salary in each department

average_salary_per_department = db.employees.aggregate([
    {
        # Group documents by the dno field and create a new average_salary field
        "$group": {
            "_id": "$dno",
            "average_salary": {"$avg": "$salary"}
        }
    },
    {
        # Perform join between departments and employees
        "$lookup": {
            "from": "departments",
            "localField": "_id",
            "foreignField": "dnumber",
            "as": "department_info"
        }
    },
    {"$unwind": "$department_info"},
    {
        # Shape the output documents to include only the required fields.
        "$project": {
            "department_name": "$department_info.dname",
            "average_salary": 1
        }
    }
])

print("Average Salary Per Department:")

for dept in average_salary_per_department:
    pp.pprint(dept)

# The above query will look like follows in SQL
# SELECT 
#     d.dname AS department_name,
#     AVG(e.salary) AS average_salary
# FROM 
#     employees e
# JOIN 
#     departments d ON e.dno = d.dnumber
# GROUP BY 
#     d.dname;

In [ ]:
# Aggregation pipeline to find the total hours worked on each project - SP9




    
# The above query will look like follows in SQL
# SELECT 
#     p.pname AS project_name,
#     SUM(COALESCE(w.hours, 0)) AS total_hours
# FROM 
#     works_on w
# JOIN 
#     projects p ON w.pno = p.pnumber
# GROUP BY 
#     p.pname;

In [ ]:
# Update all documents in works_on where hours is NaN to set hours to 0
result = db.works_on.update_many(
    {"hours": {"$exists": True, "$type": "double", "$in": [float('nan')]}},
    {"$set": {"hours": 0}}
)

print(f"Matched {result.matched_count} documents and modified {result.modified_count} documents.")

In [ ]:
# Run the "Aggregation pipeline to find the total hours worked on each project" again
# And check if you're getting nan values now