### Using Pandas in Jupyer Notebook

In [1]:
# Importing the pandas and os package

import pandas as pd 
import os
import matplotlib.pyplot as plt

In [ ]:
# Importing all csv files to create dataframes using your local datapath

# NOTE: Change the relative local path used to import the csvs to the ones on your local. Wherever the csvs are stored.
relative_local_path = 'D:\\ECS 166\\COMPANY-EXAMPLE\\'

department_df = pd.read_csv(f"{relative_local_path}department.csv")
dependent_df = pd.read_csv(f"{relative_local_path}dependent.csv")
dept_locations_df = pd.read_csv(f"{relative_local_path}dept_locations.csv")
employee_df = pd.read_csv(f"{relative_local_path}employee.csv")
project_df = pd.read_csv(f"{relative_local_path}project.csv")
works_on_df = pd.read_csv(f"{relative_local_path}works_on.csv")

<span style="color:gray; font-weight:bold;">Basic Operations</span> <br>
<span style="font-style:italic">Viewing and describing data are fundamental to understand the datasets you work with.
</span>

In [ ]:
# Sanity check to see if the import has worked
# .head() will give you the first 5 records of dependent_df

In [ ]:
# Sanity check to see if the import has worked on employee_df

In [ ]:
# .describe() generates statistics for the df on department_df
# Includes count, mean, std. deviation, min, max, quartile percent

In [ ]:
# One more call using .describe() on employee_df

In [ ]:
# .info() generates table data including datatypes, memory, number of entries (on department_df)

In [ ]:
# One more call using .describe() on employee_df

<span style="color:gray; font-weight:bold;">Using Operators</span> <br>
<span style="font-style:italic">Operators can manipulate data directly. For example, we can add columns, perform arithmetic operations, or filter data based on conditions.</span>

In [ ]:
# Arithmetic Operations 
# Using the employee_df, increase the value of the salary column by 2 and display it

In [ ]:
# Conditional Operations
# Return all records with salary over 60k in employee_df

<span style="color:gray; font-weight:bold;">Error Handling</span> <br>
<span style="font-style:italic">To ensure that we handle erros when operations fail</span>

In [ ]:
# Use a try except block to handle errors 
# We will try creating a column increase_salary which includes product of the data of non existing column sal with 2

<span style="color:gray; font-weight:bold;">Functions</span> <br>
<span style="font-style:italic">Pandas offers a variety of functions to efficiently manipulate and analyze data.
</span>

In [ ]:
# Applying a function to a column
# Return a new column salary_by_5 with salary multiplied by 5 in employee_df

In [ ]:
# Return a new column female_employees stating which employees are female in employee_df

In [ ]:
# Creating custom functions 
# Create a function to return all employees in a column increase_salary with salaries greater than 60k 
# or else change salary to 0 in employee_df

<span style="color:gray; font-weight:bold;">Changing the Dataframe</span> <br>
<span style="font-style:italic">Manipulate the dataframe definition</span>

In [ ]:
# Remove the column female_employees from employee_df

In [ ]:
# In-place remove the column increase_salary from employee_df using .pop() and return a series 
# We can now perform operations on this column like it were a DS

In [ ]:
# Get mean of all values in increase_salary_col

In [ ]:
# Get the 5th value in increase_salary_col. Use a try and except block as well.

In [ ]:
# Rename the column address to shipping_address in employee_df

<span style="color:gray; font-weight:bold;">Using iloc</span> <br>
<span style="font-style:italic">Used for integer-location based indexing, meaning it allows you to access parts of the DataFrame or Series by using integer indices
</span>

In [ ]:
# Accessing the third record in the employee_df and store it in third_rec
# Returns a 1D series DS

In [ ]:
# Return the first five employees in employee_df and store in first_five
# Returns 2D Series DS

In [ ]:
# Print the value at the 8th location in third_rec

In [ ]:
# Add Values in the salary column for the first and last element in first_five

In [ ]:
# What if I don't know the index of the salary column? Use columns.get_loc(columnName)

<span style="color:gray; font-weight:bold;">Data Visualization</span> <br>
<span style="font-style:italic">Use matplotlib to visualize your data</span>

In [ ]:
# Plot a histogram of the Salary column in employee_df

In [ ]:
# Plot a bar graph showing number of employees in each department

# Count the number of employees in each department


# Plot a bar chart of the department counts

<span style="color:gray; font-weight:bold;">Exporting your DataFrame</span>

In [ ]:
# Print the current working directory

print(os.getcwd())

In [ ]:
# Output it to any location on your local with the name disc-4-output.csv (Can have any name).